<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="igoroalex">
    <meta name="generator" content="igoroalex">
    <title>Movies album</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/album/">


    <link href="{{ url_for('static', path='/css/bootstrap.min.css') }}" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .b-example-divider {
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }












    </style>


</head>
<body>

<header class="p-3 bg-dark text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                    <use xlink:href="#bootstrap"/>
                </svg>
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/" class="nav-link px-2 text-secondary">Home</a></li>
                <li><a href="/my_account" class="nav-link px-2 text-white">My account</a></li>
                <li><a href="/create_movie" class="nav-link px-2 text-white">Create movie</a></li>
                <li><a href="/statistic" class="nav-link px-2 text-white">Statistic</a></li>
            </ul>
            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" action='/search_in_movies_album' method="get" role="search">
                <input type="search" class="form-control form-control-dark text-white bg-dark" name="search_for_filter" placeholder="Search..."
                aria-label="Search">
            </form>
            <div class="text-end">
                <a href="/login">
                    <button type="button" class="btn btn-outline-light me-2">Login</button>
                </a>
                <a href="/sign_up">
                    <button type="button" class="btn btn-warning">Sign up</button>
                </a>
            </div>
        </div>
    </div>
</header>
<main>
    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for movie in response%}
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{movie.title}}</h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Imdb: {{movie.imdb_rating}}</li>
                        <li class="list-group-item">{{movie.genres_names}}</li>
                        <li class="list-group-item">{{movie.directors_names}}</li>
                    </ul>
                    <div class="card-body">
                        <a href="{{ url_for('read_movie_html', movie_id=movie.id) }}" class="card-link">View</a>
                        <a href="{{ url_for('create_session_html', movie_id=movie.id) }}" class="card-link">Create session</a>
                    </div>
                    <div class="card-footer bg-transparent border-success">{{movie.sessions_movie_dates}}</div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</main>

<footer class="text-muted py-5">
    <div class="container">
    </div>
</footer>


<script src="{{ url_for('static', path='/css/bootstrap.min.css') }}"></script>


</body>
</html>
