<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="igoroalex">
    <meta name="generator" content="igoroalex">
    <title>{{response.title}}</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/jumbotron/">


    <link href="{{ url_for('static', path='/css/bootstrap.min.css') }}" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .b-example-divider {
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }




    </style>


</head>
<body>

<main>
    <div class="container py-4">
        <header class="pb-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="32" class="me-2" viewBox="0 0 118 94"
                     role="img"><title>Bootstrap</title>
                    <path fill-rule="evenodd" clip-rule="evenodd"
                          d="M24.509 0c-6.733 0-11.715 5.893-11.492 12.284.214 6.14-.064 14.092-2.066 20.577C8.943 39.365 5.547 43.485 0 44.014v5.972c5.547.529 8.943 4.649 10.951 11.153 2.002 6.485 2.28 14.437 2.066 20.577C12.794 88.106 17.776 94 24.51 94H93.5c6.733 0 11.714-5.893 11.491-12.284-.214-6.14.064-14.092 2.066-20.577 2.009-6.504 5.396-10.624 10.943-11.153v-5.972c-5.547-.529-8.934-4.649-10.943-11.153-2.002-6.484-2.28-14.437-2.066-20.577C105.214 5.894 100.233 0 93.5 0H24.508zM80 57.863C80 66.663 73.436 72 62.543 72H44a2 2 0 01-2-2V24a2 2 0 012-2h18.437c9.083 0 15.044 4.92 15.044 12.474 0 5.302-4.01 10.049-9.119 10.88v.277C75.317 46.394 80 51.21 80 57.863zM60.521 28.34H49.948v14.934h8.905c6.884 0 10.68-2.772 10.68-7.727 0-4.643-3.264-7.207-9.012-7.207zM49.948 49.2v16.458H60.91c7.167 0 10.964-2.876 10.964-8.281 0-5.406-3.903-8.178-11.425-8.178H49.948z"
                          fill="currentColor"></path>
                </svg>
                <span class="fs-4">Movies album</span>
            </a>
        </header>

        <div class="p-5 mb-4 bg-light rounded-3">
            <div class="container-fluid py-5">
                <h1 class="display-5 fw-bold">{{response.title}}</h1>
                <p class="col-md-8 fs-4">Genres: {{response.genres_names}}</p>
                <p class="col-md-8 fs-4">Imdb: {{response.imdb_rating}}</p>
                <p class="col-md-8 fs-4">Cast: {{response.cast_name}}</p>
                <p class="col-md-8 fs-4">Directors: {{response.directors_names}}</p>
            </div>
        </div>
        <div class="container">
            <form action='/create_session_movie' method="post" class="row g-3 needs-validation" novalidate>
                <div class="col-md-4">
                    <label for="validationCustom01" class="form-label">Movie id</label>
                    <input type="text" readonly class="form-control" name="movie_id" id="validationCustom00" value="{{response.id}}"
                           required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <label for="validationCustom01" class="form-label">Session date</label>
                    <input type="text" class="form-control" name="session_date" id="validationCustom01" value="2022-05-24"
                           required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <label for="validationCustom01" class="form-label">Session time</label>
                    <input type="text" class="form-control" name="session_time" id="validationCustom02" value="22:31"
                           required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <label for="validationCustom01" class="form-label">Hall id</label>
                    <input type="text" class="form-control" name="hall_id" id="validationCustom03" value="1"
                           required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="col-12">
                    <button class="btn btn-primary" type="submit">Create</button>
                </div>
            </form>
        </div>

        <div class="row align-items-md-stretch">
            {% for session_movie in response.sessions_movie%}
            <div class="col-md-6">
                <div class="h-100 p-5 text-white bg-dark rounded-3">
                    <h2>{{session_movie.datetime_repr}}</h2>
                    <p>Free seats</p>
                    {% for seat in session_movie.free_seats%}
                    <a href="{{ url_for('create_ticket_html', session_movie_id=session_movie.id, seat=seat) }}">
                        <button class="btn btn-outline-light" type="button">{{seat}}</button>
                    </a>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>

        <footer class="pt-3 mt-4 text-muted border-top">
            &copy; 2022
        </footer>
    </div>
</main>


</body>
</html>
