<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="igoroalex">
    <meta name="generator" content="igoroalex">
    <title>My account</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/album/">


    <link href="{{ url_for('static', path='/css/bootstrap.min.css') }}" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .b-example-divider {
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }
























    </style>


</head>
<body>

<header class="p-3 bg-dark text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                    <use xlink:href="#bootstrap"/>
                </svg>
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/" class="nav-link px-2 text-secondary">Home</a></li>
            </ul>
        </div>
    </div>
</header>
<main>
    <div class="container">
        <legend>Movie tickets</legend>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Movie</th>
                <th scope="col">Tickets</th>
            </tr>
            </thead>
            <tbody>
            {% for movie in movies_tickets_count%}
            <tr>
                <td>{{movie.movie}}</td>
                <td>{{movie.count_tickets}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="container">
        <legend>Hall occupancy</legend>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Hall</th>
                <th scope="col">Date</th>
                <th scope="col">Number of seats</th>
                <th scope="col">Occupancy</th>
            </tr>
            </thead>
            <tbody>
            {% for hall in halls_occupancy%}
            <tr class="table-primary">
                <td>{{hall.name}}</td>
                <td></td>
                <td>{{hall.number_of_seats}}</td>
                <td></td>
            </tr>
            {% for session_movie in hall.sessions_movie%}
            <tr class="table-info">
                <td></td>
                <td>{{session_movie.date}}</td>
                <td>{{session_movie.ticket_count}}</td>
                <td>{{session_movie.occupancy}}</td>
            </tr>
            {% endfor %}
            {% endfor %}
            </tbody>
        </table>
    </div>
</main>

<footer class="text-muted py-5">
</footer>


<script src="{{ url_for('static', path='/css/bootstrap.min.css') }}"></script>


</body>
</html>
